
.featured-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.featured-content--box{
    position: relative;
}
.featured-titles{
font-family: 'america-bold';
 font-size: 4em;
 text-transform: uppercase;
 font-weight: bolder;
 line-height: normal;
 margin-right: 20px;
 color: black;
 -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
}

.featured-year{
    font-family: 'Helvetica';
    font-size: 1rem;
    position: absolute;
    left: -20px;
    top: -10px;
}


.featured-titles{
    transition-timing-function: cubic-bezier(.86,-1.15,.48,1.68);
    -webkit-transition-timing-function: cubic-bezier(.86,-1.15,.48,1.68);
    cursor: pointer;
    margin-bottom: 20px;
}

.featured-titles:hover{
    background-color: #fff;
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform-origin: center center;

   }

    .featured-images{
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }


   .featured-images.active{
       display: block;
   }