.nav_logo{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-weight: bolder;
}

.nav__items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; font-variant: normal; font-weight: 700; line-height: 11px;
}
.nav_item--link{
    margin-right: 20px;
    font-size: 1.5rem;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
}

.nav_item--link:hover{
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;



}

.nav_item--link.active{
    color: rgb(252, 66, 68);;
    -webkit-text-fill-color: rgb(252, 66, 68); /* Will override color (regardless of order) */
    font-style: italic;
    -webkit-text-stroke-width: 0;
}

.nav_item--link.active::before{
    content: '*';
    color: rgb(0, 0, 0);
    -webkit-text-fill-color:  rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-right: 5px;

}

